{% extends 'store/main.html' %}
{% load static %}
{% block content %}


    <div>
        
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-6 --bs-primary-border-subtle">
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <div><span>---------------------------------------------------------------------------------------------------------------------discription---------------------------------------------------------------------------------------------------------------------</span></div>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-info add-btn update-cart">Add To Cart</button>
                <a class="btn btn-outline-success" href="#">view</a>
                <h4 style="display: inline-block; float: right;"><strong>{{product.price|floatformat:2}} Rs</strong></h4>
            </div>
        </div>
        {% endfor %}

        <!-- <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
                <a class="btn btn-outline-success" href="#">view</a>
                <h4 style="display: inline-block; float: right;">20rs</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
                <a class="btn btn-outline-success" href="#">view</a>
                <h4 style="display: inline-block; float: right;">20rs</h4>
            </div>
        </div> -->
    </div>


{% endblock content %}